/*Top level style sheet rules*/
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;


}

ul {
    columns: 2;
}

h2 {
    text-align: center;
    color:whitesmoke;
}

body {
    /*sets the background color and default font color for the entire screem*/
    background-color: grey;
    margin: 0;

}

#entireSlotMachine-container {

    background: grey;
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 25%;

}

div#payoutsWindow {
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    background-color: black;
    border: 2px solid black;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;

}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

div#payoutsBox {
    justify-content: left;
    font-size: 1rem;
    color: whitesmoke;
}

#slotReelWindowOne {
    height: 220px;
    margin: .6rem;
    padding: 1rem;
    background: red;
    border: 2px solid black;
    grid-column: 2 / span 1;
    grid-row: 1;
}

div#emojiBoxOne {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

div#slotReelWindowTwo {
    height: 220px;
    margin: .6rem;
    padding: 1rem;
    background: blue;
    border: 2px solid black;
    grid-column: 3 / span 1;
    grid-row: 1;
}

div#emojiBoxTwo {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

div#slotReelWindowThree {
    height: 220px;
    margin: .6rem;
    padding: 1rem;
    background: green;
    border: 2px solid black;
    grid-column: 4 / span 1;
    grid-row: 1;
}

div#emojiBoxThree {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

div#trackerWindow {
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    background-color: black;
    border: 2px solid black;
    grid-column: 5 / span 1;
    grid-row: 1 / span 3;
}

div#trackerBox {
    display: grid;
    justify-content: center;
    font-size: 2rem;
    color: whitesmoke;
}

div.spinRow-container {
    background-color: grey;
    display: grid;
    border: 2px dashed black;
    justify-content: center; 
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
}

div#buttonWindow {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: whitesmoke; 
}

button {
    cursor: pointer;
    font-size: 4rem;
    margin: .6rem;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

div#spinCounter {
    margin: 1rem;
    font-size: 4rem;
    /*border: 2px dashed black;*/
    background-color: grey;
}

div#infoWindow-container {
    background-color: grey;
    display: grid;
    border: 2px dashed black;
    background-color: black;
    justify-content: center; /*centers the sub-windows horizontally*/
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
}

div#infoWindowOne {
    margin: .6rem;
    padding: 0.8rem;
    background: whitesmoke;
    background-color: black;
    border: 2px solid black;
}

div#infoBoxOne {
    font-size:6rem;
    color: black;
}





@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 0.5s linear infinite;
}



