/*Top level style sheet rules*/
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

ul {
    columns: 2;
}

h2 {
    text-align: center;
    color:whitesmoke;
}

body {
    /*sets the background color and default font color for the entire screem*/
    background-color: darkgrey;

}

#entireSlotMachine-container {
    width: 100%;
    height: 100%;
    background: Grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

div#reelWindow-container {
    background-color: grey;
    display: flex;
    flex-direction: row;
    border: 2px dashed black;
    justify-content: center; /*centers the sub-windows horizontally*/
}

div#slotReelWindowOne {
    height: 220px;
    width: 200px;
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    border: 2px solid black;
}

div#emojiBoxOne {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

div#slotReelWindowTwo {
    height: 220px;
    width: 200px;
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    border: 2px solid black;
}

div#emojiBoxTwo {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

div#slotReelWindowThree {
    height: 220px;
    width: 200px;
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    border: 2px solid black;
}

div#emojiBoxThree {
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

div.spinRow-container {
    background-color: grey;
    display: flex;
    flex-direction: row;
    border: 2px dashed black;
    justify-content: center; /*centers the sub-windows horizontally*/
}

button {
    cursor: pointer;
    font-size: 4rem;
    margin: .6rem;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

div#spinCounter {
    margin: 1rem;
    font-size: 4rem;
    /*border: 2px dashed black;*/
    background-color: grey;
}

div#infoWindow-container {
    background-color: grey;
    display: flex;
    flex-direction: row;
    border: 2px dashed black;
    justify-content: center; /*centers the sub-windows horizontally*/
}

div#infoWindowOne {
    height: 200px;
    width: 1200px;
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    background-color: black;
    border: 2px solid black;
}

div#infoBoxOne {
    display: flex;
    justify-content: center;
    font-size:8rem;
    color: black;
}

div#winWindow-container {
    background-color: grey;
    display: flex;
    flex-direction: row;
    border: 2px dashed black;
    justify-content: center; /*centers the sub-windows horizontally*/
}

div#payoutsWindow {
    height: 200px;
    width: 600px;
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    background-color: black;
    border: 2px solid black;
}

div#payoutsBox {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: whitesmoke;
}

div#trackerWindow {
    height: 200px;
    width: 600px;
    margin: .6rem;
    padding: 1rem;
    background: whitesmoke;
    background-color: black;
    border: 2px solid black;
}

div#trackerBox {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: whitesmoke;
}

